body{
    background-color:#1a1a1a;
    margin:0;
    padding:0;
}

/** WEBKIT SCROLLBAR **/
::-webkit-scrollbar {background: #292929;; width:9px;}
::-webkit-scrollbar-thumb {background:#1a1a1a; border: #292929 1px solid;}

header{
    margin-top:0px;
    background-color:black;
    color: #fff;
    height:440px;
    overflow:hidden;
}
header img{
    
   float:left;
   
}
h1{
    margin-top:300px;
    text-align:left;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size:80px;
    text-transform:uppercase;
    
}
h2{
    text-align:left ;
    vertical-align: middle;
    margin-top:-50px;
    font-size: 22px;
    font-family:Roboto;
    font-weight:400;
}


main{
    max-width:1200px;
    text-align:justify;
    margin:0 auto;
    padding:0 20px;
    
}

main p{
    margin:50px;
    padding:20px;
    background-color:#bfbfbf;
    color: black;
    border: 1px solid #000;

}

main span{
    font-style:italic;
    margin:20px;
    padding:20px;
}
main ul{
   
   list-style-type:none;
  
   padding:0;
   max-width:300px;
    margin-left:50px;
    position:relative;
}

ul li{
    background-color:#4d4d4d;
    padding:10px;
    width:350px;
    margin-top:10px;
    font-size:20px;
    border-right:20px solid #AA5761;


}

main img{
    float:right;
    width:670px;
    margin-right:50px;
    margin-bottom:20px;
    border: 1px solid #000;
}

